# Supabase
VITE_SUPABASE_URL=https://tu-instancia.supabase.co
VITE_SUPABASE_ANON_KEY=tu-anon-key-aqui

# APIs SUNAT y RENIEC
VITE_CONSULTAS_PERU_API_TOKEN=tu-token-aqui
VITE_MIAPI_CLOUD_API_TOKEN=tu-token-aqui
VITE_INVOICING_API_BASE_URL=https://tu-api-sunat.com/api/v1
VITE_INVOICING_API_AUTH_TOKEN=tu-token-aqui
VITE_CONSULTADATOS_TOKEN=tu-token-aqui
